*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container-image{
    background-image: url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: auto; 
    height: 100vh;
}

.footer{
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: center;
    height:80px;
    width:100vw;
    bottom:0;
    padding: 0px 0px 20px 0px
}

.text-footer{
    color:#fff
}

/*---------------------- Menu ----------------------*/

.header{
    display: flex;
    justify-content: flex-end;
    padding:30px;
}



#menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    right:0;
    top:0;
    width: 35px;
    height: 30px;
    margin: 30px 20px 20px 20px;
    cursor: pointer;
}

.bar{
    height:5px;
    width:100%;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    transition:0.4s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.nav li a{
    color: #fff;
    text-decoration: none;
    padding: 10px
}

.nav li a:hover{
    background-color: #fff;
    box-shadow: inset;
    color:#002672;
    border-radius: 5px;
    box-shadow: -5px 5px 14px 2px rgba(0,0,0,0.2);
    transition: 0.8s ease;
}

.nav li {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    padding: 16px 0;
}

.nav{
    padding:0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.menu-bg, #menu-bar{
    top:0;
    right:0;
    position:absolute;
}

.menu-bg{
    z-index: 5;
    width:0;
    height:0;
    background: radial-gradient(circle, #002672, #001643);
    border-radius: 0px;
    transition: 0.5s ease;
}

#menu-bar{
    z-index: 6;
}

.change-bg{
    width:100vw;
    height: 100vh;
    transform: translate(0%, 0%);
}

.change .bar{
    background-color: white;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2{
    opacity: 0;
}

.change{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.menu-block{
    display: none;
}

.change-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    z-index: 1;
}
/* --------------------- MAIN ------------------------ */

#container-main{
    z-index: 2;
}

.column-text{
    width:40vw;
}
.column-text:nth-child(2){
    width:60vw;
}

.container-column{
    display: flex;
    height: 100vh;
    align-items: center;
}

.container-text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 70px 0px 20px;
}

@media(min-width:787px){
    .container-text {
        margin-right: 80px;
    }
}

.container-text .text-writing {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    overflow: hidden;
}
.container-text .text-writing span.typed-text {
    font-weight: normal;
    color: #FFF;
}
.container-text .text-writing span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
.container-text .text-writing span.cursor.typing {
    animation: none;
}

.container-text{
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
}
@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}

.button{
    display: none;
}

.button-change{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 10px;
    width:200px;
    height:40px;
    border: solid 1px #fff;
    border-radius: 8px;
    color:#fff;
    animation: 1.5s button-effect;
}
.link-home{
    text-decoration: none;
}

.text-button{
    position: relative;
    font-size: 12px;
    font-weight: 600;
    padding: 20px 39px;
    color:#fff;
    animation: 2s text-effect;
}

.text-button:hover{
    color:#fff;
}
.button-change:hover{
    color:#fff;
    background-color: #005477;
    border-color: #005477;
    box-shadow: -2px -2px 7px rgba(0, 0, 0, 0.438);
    transition: 0.8s;
}

@keyframes button-effect {
    0%   {background-color:#fff; left:0px; top:0px; height: 1px; width:1px; padding:0;}
    20%   {background-color:#fff; left:0px; top:0px; height: 1px; padding:0;}
    40%   {background-color:#fff; left:0px; top:0px; height: 1px; padding:0;}
    60%   {background-color:#fff; left:0px; top:0px; height: 1px; padding:0;}
    80%   {background-color:#fff; left:0px; top:0px; height: 1px; padding:0;}
    100%  {background-color:transparent; left:200px; width:200px; height: 40px;}
}

@keyframes text-effect {
    0%   {color:#fff; font-size:0px;}
    20%   {color:#fff; font-size:0px;}
    40%   {color: #fff; font-size:0px;}  
    60%   {color: #fff; font-size:0px;}  
    80%   {color: #fff; font-size:0px;}   
    100%   {color:#fff; font-size:12px;}
}